:root {
  --main-text--cl: #212121;
  --title-cl: #ffffff;
  --accent-cl: #2196f3;
  --dark-bg-text: #757575;
  --white-bg-text: #ffffff;

  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
  --gray-bg: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text--cl);
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.studio {
  padding-bottom: 0;
}
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.studio .list {
  display: flex;
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-bg-text);
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.features-list:not(:last-child) {
  margin-right: 30px;
}
.main-page {
  background-color: var(--dark-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text--cl);
}
.btn {
  width: 200px;
  height: 50px;
  color: var(--white-bg-text);
  font-weight: bold;
  background-color: var(--accent-cl);
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  
}
.section-portfolio {
  background: #F5F4FA;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: var(--dark-bg);
  padding-bottom: 60px;
  padding-top: 60px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*header */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  display: inline-flex;
}
.menu-item {
  margin-right: 50px;
  
}

.page-header .container {
  display: flex;
}
.page-header {
  border: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-cl);
  margin-right: 90px;
}
.logo-black {
  color: var(--main-text--cl);
}
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text--cl);
  transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-bg-text);
  margin-right: 50px;
  transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/*main */

.container-main {
  width: 1600px;
}

/*footer */
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer .link-address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-bg-text);
  
}

.footer .list-item {
  display: block;
}
.footer .list-item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-color {
  color: var(--white-bg-text);
}
.contacts {
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header {
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: var(--main-text--cl);
}
.main-text {
  color: var(--dark-bg-text);
}
/*section team */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set-list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.pictures {
  display: block;
}
.team-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}
.team-item .pictures {
  margin-bottom: 30px;
}

.team-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text--cl);
  text-align: center;
}
.team-desc {
  font-size: 16px;
  line-height: 1.2;
  color: var(--dark-bg-text);
  text-align: center;
}
/*portfolio main */

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu-items:not(:last-child) {
  margin-right: 8px;
}
.button {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text--cl);
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
  cursor: pointer;
  color: var(--white-bg-text);
  background-color: var(--accent-cl);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-portf {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text--cl);
  margin-bottom: 4px;
}
.text-portf {
  font-size: 16px;
  line-height: 1.9;
  color: var(--dark-bg-text);
}

.card{
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
  max-width: 100%; 
}
}
.portf-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portf-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.portf-item:hover,
.portf-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.header-portf {
  border-bottom: 1px solid #ECECEC;
}


.social-icons {
  
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
.social-icons-svg {
  width: 20px;
  height: 20px;
  fill:#AFB1B8;
}
.social-icons-link {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.social-icons-link:hover,
.social-icons-link:focus {
   width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-cl);
  fill: var(--white-bg-text);
  
  
}
.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white-bg-text);
}
.social-icons-item.list-item:not(:last-child) {
margin-right: 22px;
}
.
.social-icons-item {
  margin-right: 10px;
}

.footer-text {
  margin-bottom: 20px;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

color: #FFFFFF;
}

.icon-header {
  stroke: currentColor;
  fill: #757575;
  margin-right: 10px;
}
.contacts-item:not(:last-child) {
margin-left: 30px;
}


.footer-box {
  display: flex;
}
.adress-section {
  width: calc(100% / 12 * 3);
}
.social-list {
  display: inline-flex;
}
.join-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: fill, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:last-child) {
margin-right: 10px;
}
.social-icon-svg {
width: 20px;
height: 20px;
fill: white;
}
.title-clients {
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.clients-item {
  display: flex;
  width: 170px;
  margin-top: 50px;
}
.clients-svg {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}
.clients-link-icon {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list {
  justify-content: space-between;
  display: flex;
}
.clients-link-icon:hover .clients-svg, 
.clients-link-icon:focus .clients-svg {
  fill: var(--accent-cl);
}
.clients-link-icon:hover {
  border-color: var(--accent-cl);
}
.icon-studio-svg {
 width: 70px; 
 height: 53px;
 fill: #212121;
}
.studio-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
}
.main-page {
  background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
), url(../images/background.png);
  
}

.gradient {
background-image: linear-gradient(
to top,
rgba(47, 48, 58, 0.8),
rgba(47, 48, 58, 0.8)
);
width: 370px;
height: 70px;
position: relative;
bottom: 70px;
display: flex;
align-items: center;
justify-content: center;
}
.text-picture {
  text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.img {
  display: block;
max-width: 100%;
}

 .current {
position: relative;
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--accent-color);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
content: '';
display: block;
width: 100%;
height: 5px;
background-color: #2196F3;
border-radius: 2px;
position: absolute;
left: 0;
bottom: -29px;
opacity: 1;
transition-property: opacity;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-overflow {
position: relative;
justify-content: center;
align-items: center;
overflow: hidden;
}
.overlay-text {
font-size: 18px;
line-height: 28px;
color: white;
padding: 63px 24px;
}
.overlay-item:hover .overlay  {

  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.overlay {
position: absolute;
top: 0;
left: 0;
width: 370px;
height: 294px;
background-color: rgba(33, 150, 243, 0.9);
opacity: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
 

}
.button-modal {
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
background-color: var(--alt-title-color);
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 50%;
cursor: pointer;
}

.modal-svg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 11px;
height: 11px;
fill: black;
}

.form-name {
  font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
padding-bottom: 20px;
text-transform: uppercase;

color: #FFFFFF;
}

.footer-form {
  margin-left: 93px;
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 570px;
height: 86px;
}
.form-label {
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--main-text-color);
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.subscribe-input {
  width: 358px;
height: 50px;
margin-right: 12px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
padding: 15px 0 15px 16px;
color: white;
}
.subscribe-btn {
  display: flex;
align-items: center;
justify-content: center;
text-align: center;
min-width: 200px;
min-height: 50px;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: white;
background-color: var(--accent-cl);
padding: 0;
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.btn-text {
  margin-right: 10px;
  
}
.send-svg {
  width: 24px;
  height: 24px;
display: flex;
fill: currentColor;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-content {
  display: flex;
}
.form-modal {
width: 100%;
padding: 40px;
}
.title-modal {
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #212121;
}
.label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 12px;
margin-bottom: 10px;
}
.input {
  margin-top: 4px;
margin-bottom: 10px;
padding-left: 42px;
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal {
width: 18px;
height: 18px;
position: absolute;
top: 29px;
left: 15px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea { 
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

color: rgba(117, 117, 117, 0.5);
}
.form-field {
  position: relative;
display: flex;
text-align: left;
flex-direction: column;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
margin-bottom: 10px;

}
.policy {
  position: relative;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 14px;
line-height: 1.71;
margin-bottom: 20px;
}
.icon {
  position: relative;
display: inline-block;
width: 16px;
height: 16px;
border: 2px solid var(--title-color);
border-radius: 2px;
}
.field {
  display: flex;
align-items: center;
flex-direction: row;
position: relative;
justify-content: center;
margin-bottom: 30px;
}
.checkbox {
  position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}












