:root {
  --main-text--cl: #212121;
  --title-cl: #ffffff;
  --accent-cl: #2196f3;
  --dark-bg-text: #757575;
  --white-bg-text: #ffffff;

  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
  --gray-bg: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text--cl);
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.section .studio {
  padding-bottom: 0;
}
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.studio .list {
  display: flex;
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-bg-text);
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.features-list:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 94px;
}
.main-page {
  background-color: var(--dark-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text--cl);
}
.btn {
  width: 200px;
  height: 50px;
  color: var(--white-bg-text);
  font-weight: bold;
  background-color: var(--accent-cl);
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.section-portfolio {
  background: #F5F4FA;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: var(--dark-bg);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*header */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  display: inline-flex;
}
.menu-item {
  margin-right: 50px;
}
.page-header .container {
  display: flex;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-cl);
  margin-right: 90px;
}
.logo-black {
  color: var(--main-text--cl);
}
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text--cl);
}
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-bg-text);
  margin-right: 50px;
}
.contacts-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/*main */

.container-main {
  width: 1600px;
}

/*footer */
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer .link-address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-bg-text);
}
.footer .list-item {
  display: block;
}
.footer .list-item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-color {
  color: var(--white-bg-text);
}
.contacts {
  font-style: normal;
  font-weight: normal;
  color: var(--dark-bg-text);
}
.main-header {
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: var(--main-text--cl);
}
.main-text {
  color: var(--dark-bg-text);
}
/*section team */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set-list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.pictures {
  display: block;
}
.team-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}
.team-item .pictures {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text--cl);
  text-align: center;
}
.team-desc {
  font-size: 16px;
  line-height: 1.2;
  color: var(--dark-bg-text);
  text-align: center;
}
/*portfolio main */

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu-items:not(:last-child) {
  margin-right: 8px;
}
.button {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text--cl);
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
}
.button:focus,
.button:hover {
  cursor: pointer;
  color: var(--white-bg-text);
  background-color: var(--accent-cl);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-portf {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text--cl);
  margin-bottom: 4px;
}
.text-portf {
  font-size: 16px;
  line-height: 1.9;
  color: var(--dark-bg-text);
}

.card{
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
  max-width: 100%; 
}
}
.portf-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portf-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.main-portf {
  margin-bottom: 94px;
}
.header-portf {
  border-bottom: 1px solid #ECECEC;
}