.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-cl);
}
.page-header_logo {
  margin-right: 90px;
}

.logo-color {
  color: var(--white-bg-text);
}
.logo-black {
  color: var(--main-text--cl);
}
