:root {
  --main-text--cl: #212121;
  --title-cl: #ffffff;
  --accent-cl: #2196f3;
  --dark-bg-text: #757575;
  --white-bg-text: #ffffff;

  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
  --gray-bg: #e5e5e5;
}
