.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text--cl);
}
.section-portfolio {
  background: #f5f4fa;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
